{% extends "base.html" %}

{% block title %} Main Page {% endblock %}

{% block content %}
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">ShareBox</h1>
          <p class="lead text-muted">Простое устройства с возможностью арендовать вещи при помощи идентификации по rfid картам.Чтобы арендовать устройство приложите карту и нажмите арендовать.</p>
          <p>
          </p>
        </div>
      </section>
    <div class="container" class="mx-auto">
    {% for each in containers %}
            <div class="card bins" style="width: 25rem;display:inline-block" >
              <div class="card-body">

                <h3 class="card-title address" style="font-size:30px;">{{ each.container_name }}</h3>
                <p class="card-text ">{{ each.ip_addres }}</p>
                  {% if each.field_status  %}
                  <p class="card-text data" style="color:red; font-size:25px;"> Арендованно пользователем: {{each.field_user}}</p>
                  <a href="{{ each.id }}" class="btn btn-primary">Вернуть</a>
                  {% else %}
                  <p class="card-text data" style="color:lightgreen; font-size:25px;">Устройство можно арендовать </p>
                  <a href="{{ each.id }}" class="btn btn-primary">Арендовать</a>
                  {% endif %}

              </div>
            </div>
    {% endfor %}

        </div>
{% endblock %}
